@media(max-width: 425px){

    body{
        padding: 1em;
    }

    header{
        position: relative;
        margin-bottom: 1em;
        justify-content: space-between;
    }

    .navbar-container{
        display: none;
    }

    .intro-section{
        display: flex;
        flex-direction: column-reverse;
        padding: 0;
    }

    .intro-section > article{
        align-items: center;
        text-align: center;
        gap: 1em;
        margin-top: 2em;
    }

    .intro-section > picture > img {
        height: auto;
    }

    .intro-section > article > h1{
        font-size: 2em;
        max-width: 16ch;
    }

    .intro-section > article > p{
        font-size: 1em;
    }

    .intro-section > article > a {
        padding: .8em 1.5em;
    }

    .clients-logo-container{
        margin-top: 2em;
    }

    .mobile-navbar-container{
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;
        margin-left: 0;
        padding-left: 1em;
        top: 0;
        right: 0;
        width: 65%;
        height: 100vh;
        background-color: hsl(0, 0%, 98%);
        z-index: 999;
    }

    .close-btn{
        align-self: flex-end;
    }

    .list{
        position: relative;
        border: none;
        box-shadow: none;
    }

    .login-links-container{
        margin-top: 2em;
        gap: 1em;
        flex-direction: column;
    }

    .register-btn{
        width: 100%;
        text-align: center;
    }
}